*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
:root{
    --primary-color: rgb(27, 173, 83);
    --darkgray1: rgb(113, 109, 109);
    --darkgray2: rgb(44, 43, 42);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    text-align: center;
    max-width: 1080px;
    border: 1px solid rgb(214, 214, 220);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 10px;
    border-radius: 10px;
}

/* header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: space-around;
    align-items: center;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        h1{
            margin-top: 10px;
            font-size: 50px;
            font-weight: 600;
            color: var(--primary-color);
        }
        span{
            font-size: 24px;
        }
        .contact{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            li{
                i{
                    font-size: 20px;
                    color: var(--primary-color);
                }
                span{
                    font-size: 18px;
                    padding-left: 2px;
                    color: rgb(113, 109, 109);
                }
            }
        }
    }
    .img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 80%;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid var(--primary-color);
        }
    }
}

/* main */
.main{
    margin: 10px 20px;
    .section1{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .about{
            p{
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
                text-align: center;
                letter-spacing: 0.8px;
                padding-top: 10px;
                color: var(--darkgray2);
            }
        }
    }
}

.main > .section1 > .about,
.main > .section1 > .education,
.main > .section1 > .training-course,
.main > .section1 > .exptertise{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
    border-bottom: 1px solid var(--primary-color);
}

.heading2{
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 2px;
    padding: 7px 0;
}
.lists{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    li{
        text-align: left;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.8px;
        font-weight: 700;
        color: var(--darkgray2);
        span{
            font-weight: 500;
        }
    }
}

/* footer */
footer{
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    section{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .languages{
            .lists{
                padding: 15px 5px;
                list-style-type: none;
            }
        }
        .referances{
            div{
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: start;
                padding-left: 10px;
                p{
                    color: var(--darkgray2);
                }
                span{
                    color: var(--darkgray2);
                }
            }
        }
    }
}

/* tablet device */
@media screen and (min-width: 768px) {
    .header{
        flex-direction: row;
        justify-content: space-between;
        margin: 25px 20px;
        .content{
            align-items: start;
            .contact{
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px 30px;
            }
        }
    }

    .main > .section1{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .about{
            p{
                text-align: left;
            }
        }
    }

    .main > .section1 > .about,
    .main > .section1 > .education,
    .main > .section1 > .training-course,
    .main > .section1 > .exptertise{
        width: 48%;
    }

    footer{
        section{
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }
    .languages{
        width: 48%;
    }
    .referances{
        width: 48%;
    }
}

/* laptop device */
@media screen and (min-width: 1024px) {
    body{
        margin: 50px auto;
    }
    .heading2{
        text-align: left;
        padding-left: 20px;
    }
    .header{
        margin: 25px 30px;
        .content{
            align-items: start;
            .contact{
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px 25px;
            }
        }
    }
}
